body{
    background-color: #348322 ;
    background-image: url(../post1.jpg); 
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
}
.qPanel{
    margin:auto;
    width:800px;
    vertical-align: center;
    margin:0 auto;
    background-color: #79B96A ;
    border: none ;
    border-radius : 10px ;
    padding: 20px ;
    height: 160px ;
    font-size: 15pt;
}
.ques{
    font-size : 18pt;
    font-weight: bold ;
}
.nxtBtn{
    position: relative ;
    right : 10px ;
    float: right;
    border:none ;
    font-size: 18pt ;
    background-color: #348322  ;
    color: #ffffff ;
    width: 80px ;
    height: 35px ;
}
